.get-started, .get-started a, .get-started p:hover, .get-started a:hover{
    color: #737070;
}

.form h3{
    color:#be9d94;
}

.form input, .form
textarea {
    padding: 20px;
    background-color: #be9d9436;
    border-radius: 15px;
    color: #000000;
    border: none;

}

.form input:focus, .form textarea:focus {
    outline: none;
}

.form textarea {
    min-height: 200px;
    max-height: 400px;
}

.custom-button {
    background-color: #be9d94;
    color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    border: none;
}