.App {
  text-align: center;
 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBarText{
  font-family: Roboto, sans-serif;
  color:#D09C86;

  
}

#LandingCard{
  font-family: Roboto, sans-serif;
  align-items: center;
  color: whitesmoke;
}

#AboutUsCard{
  font-family: Roboto, sans-serif;
  align-items: center;
}
#ServiceBarContainer{
  background-color: black;
  width: 100%;
  display: inherit;
  justify-content: space-around;
  border-radius: 0 10em 0 10em ;
  
}

.serviceCardContent {
  font-family: Roboto, sans-serif;
  color:#D09C86;
}

h1.serviceCardHeader {
  font-family: Roboto, sans-serif;
  color:#D09C86;
}

#PacksContainer{
  font-family: Montserrat, sans-serif;
  color:#D09C86
}

.PacksCard{
  display: grid;
}